<h1><%=@applicant.name%></h1>

<%=form_for @applicant do |f|%>
<%=f.label :name %>
<%=f.text_field :name %><br/>
<%=f.label :age %>
<%=f.number_field :age %><br/>
<%=f.label :email %>
<%=f.text_field :email %><br/>
<%=f.submit 'Make Changes'%>
<%end%>
